  </section>

        <aside id="sidebar">
          <a href="https://github.com/BBFMedia/DCore/zipball/master" class="button">
            <small>Download</small>
            .zip file
          </a>
          <a href="https://github.com/BBFMedia/DCore/tarball/master" class="button">
            <small>Download</small>
            .tar.gz file
          </a>

          <p class="repo-owner"><a href="https://github.com/BBFMedia/DCore"></a> is maintained by <a href="https://www.bbfmedia.com">BBFMedia</a>.</p>

          <p>Using the Architect theme by <a href="http://twitter.com/jasonlong">Jason Long</a>.</p>
        </aside>
      </div>
    </div>

  
  </body>
</html>